# 这个文件仅供研发人员在本地构建镜像时使用
# 它会被 .gitignore 排除，不会进入源码仓库
services:
  web:
    # 核心改动 (1): 明确指定构建后的镜像名称和标签
    # 这个名字应该和您要推送到 ghcr.io 的目标名称完全一致
    image: ghcr.io/weizhangcs/vss-workbench:v2.0.4
    build: .
    # 我们可以在这里覆盖 volumes，以支持本地开发时的热重载
    volumes:
      - .:/app

  celery_worker:
    # 核心改动 (2):  celery worker 和 web 使用同一个镜像
    # 因此这里也需要指定完全相同的 image 名称
    image: ghcr.io/weizhangcs/vss-workbench:v2.0.4
    build: .
    volumes:
      - .:/app

  # 如果您本地也需要构建 subeditor
  subeditor:
     image: ghcr.io/weizhangcs/vss-subeditor:v1.0.4
     build:
       context: D:\DevProjects\WebstormProjects\vss-sub-editor # 请确保路径正确