# docker-compose.local.yml
# This file is for the local development environment. It overrides the base configuration to build from local source.

services:
  db:
    ports:
      - "5432:5432"

  web:
    build:
      context: .
    volumes:
      # Mount the local source code to enable hot-reloading
      - .:/app

  redis:
    ports:
      - "6379:6379"

  worker:
    build:
      context: .
    volumes:
      - .:/app
