# docker-compose.build.yml
# This file is used for building images on a remote CI/CD server or the AWS EC2 instance.
# It does NOT use the Chinese mirror.

services:
  web:
    image: ghcr.io/weizhangcs/vss-workbench:v2.0.3 # Define the tag for the built image
    build:
      context: .
      # Do not pass the APT_MIRROR argument, so the Dockerfile uses the default Debian source

  celery_worker:
    image: ghcr.io/weizhangcs/vss-workbench:v2.0.3 # Use the same tag
    build:
      context: .

  subeditor:
     image: ghcr.io/weizhangcs/vss-subeditor:v1.0.3 # Define the tag for the subeditor image
     build:
       context: ../visify-subeditor