# requirements.txt

# Core
# --------------------
Django~=4.2.0
gunicorn
requests
djangorestframework
django-cors-headers>=3.14.0,<4.0.0
django-solo      # 新增: 用于创建单例模型

# Admin Theme
# --------------------
django-unfold==0.64.2
django-crispy-forms
crispy-tailwind

# ORM Enhancements
# --------------------
django-model-utils
django-choices

# File Storage
# --------------------
django-storages[s3]
boto3
psycopg2-binary  # PostgreSQL 适配器

# Configuration
# --------------------
python-decouple

# Asynchronous Tasks & State Machine
# --------------------
celery
redis
django-fsm-2          # <-- 采用社区维护的、活跃的继承版本
django-fsm-2-admin    # <-- 采用配套的 admin 库